[submodule "swift-source/swift-compiler-rt"]
	path = swift-source/swift-compiler-rt
	url = https://github.com/apple/swift-compiler-rt.git
[submodule "swift-source/cups"]
	path = swift-source/cups
	url = https://github.com/apple/cups.git
